<!doctype html>
<html ng-app='testApp'>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="angular-google-client.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="AppCtrl">
    <button ng-click="checkAuth()">checkAuth</button>
    <button ng-click="signIn()">signIn</button>
    <button ng-click="vai()">Vai</button>
    {{email}}
  </body>
</html>
